.container {
  max-width: var(--max-size-main-part);
  margin: 0 auto;
}

.container__menu {
  max-width: var(--max-size-menu-part);
  margin: 0 auto var(--average-spacing);
}

@media (max-width:1220px) {
  .container {
    max-width: var(--max-size-main-part-less);
  }

  .container__menu {
    max-width: var(--max-size-menu-part-less);
  }
}

@media (max-width:990px) {
  .container {
    max-width: var(--max-size-main-part-small);
  }
  .container__menu {
    max-width: none;
  }
}

@media (max-width:768px) {
  .container {
    max-width: none;
  }
}