:root {
  --font-color: #C2C2C2;
  --header-footer-color: #757575;
  --title-color: #6C7F9B;
  --primary-color: #1B3E75;
  --secondary-color: #2E3642;
  --bg-color: #282828;
  --error-color: #D55855;
  --waiting-color: #C2AC19;
  --complete-color: #99C223;

  --font-family: 'Noto Sans', sans-serif;
  --line-height: 1.25;
  --base-font-size: 18px;
  --smallest-font-size: 14px;
  --small-font-size: 16px;
  --large-font-size: 24px;
  --small-title-font-size: 32px;
  --title-font-size: 48px;
  --button-width: 135px;
  --service-height: 40px;
  --text-input-size: 350px;
  --max-side-margin: 222px;
  --base-spacing: 1rem;
  --average-spacing: 1.25rem;
  --large-spacing: 1.5rem;
  --small-spacing: 0.5rem;

  --max-size-main-part: 1220px;
  --max-size-menu-part: 910px;
  --max-size-modal: 640px;
  --max-size-main-part-less: 990px;
  --max-size-menu-part-less: 760px;
  --max-size-modal-less: 470px;
  --max-size-main-part-small: 750px;
  --max-size-modal-small: 240px;

  --base-border-radius: 10px;
  --avatar-size: 2.25rem;
}